@charset "UTF-8";
/* header and image */

/*body>header>img {
  display: block;
  width: 100%;
  height: 100%;
  width: 100%;
} */
#home {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.homeslide {
  width: 2912px;
  -webkit-animation: slide 10s ease infinite;
}

.slide {
  float: center;
  height: 510px;
  width: 728px;
}
.slide:nth-child(1) {float: center;
height: 510px;
width: 728px;}

.slide:nth-child(2) {float: center;
height: 510px;
width: 728px;}
.slide:nth-child(3) {float: center;
height: 510px;
width: 728px;
}



.slidehome {
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}








nav {
  background-color: rgb(111, 25, 95);
}

ul {
  margin: 0;
  padding: 10px;
  overflow: hidden;
  list-style: none;
}

li {
  box-sizing: border-box;
  float: left;
  /*padding: 5px;*/
  width: 33.3%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(162, 227, 134);
  opacity: .7;
}

/* Body */

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 640px;
  width: 95%;
  background-image: linear-gradient(to bottom, #660033 0%, #ff99cc 100%);
}

h1 {
  font-size: 50px;
  font-family: cursive;
  Grand Hotel;
  color: purple;
  text-align: center;
}

p#descr {
  padding-left: 50px;
  color: white;
  font-size: 16pt;
  font-family: fantasy;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

/* footer*/

footer {
  clear: both;
  font-family: cursive;
  color: white;
  text-align: center;
}
