@charset "UTF-8";
/*{
  outline: 1px solid red;
} */
body>header>img {
  display: block;
  width: 100%;
}
nav {background-color: rgb(218, 164, 71);}
ul {
  margin: auto;
  width: 75%;
  padding: 5px;
  overflow: hidden;
  list-style: none;
}

li {
  box-sizing: border-box;
  float: left;
  /*padding: 5px;*/
  width: 33.3%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;

}

li a:hover {
  background-color: rgba(222, 64, 88);

}
/* Body */
body {
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
  min-width: 640px;
  background-color: rgb(128, 24, 58);
}

h1 {font-size: 50px; font-family: cursive; Grand Hotel;
  color: white; text-align: center;
}
body > section#leftcol {
	width: 70%;
	float: left;
	margin-left: 0%;
	margin-right: 4%;
  background-color: rgb(131, 16, 83);
}

body > section#rightcol {
	width: 24%;
	float: left;
	margin-right: 2%;
}
.circle {display: block;
  border-radius: 50%;
background-color: rgb(224, 37, 106);}
/* footer */
footer {clear: both;
font-family: cursive;
color: white;
text-align: center;}
