@charset "UTF-8";
body>header>img {
  display: block;
  width: 100%;
}
nav {background-color: rgb(218, 164, 71);}
ul {
  margin: auto;
width: 75%;
  padding: 5px;
  overflow: hidden;
  list-style: none;
}

li {
  box-sizing: border-box;
  float: left;
  /*padding: 5px;*/
  width: 33.3%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  }

li a:hover {
  background-color: rgba(91, 68, 172);
}
/* Body */
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 640px;
  width: 95%;
  background-color: rgb(128, 24, 58);
}
.SideBar {
    height: auto;
    width: 160px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ddbc3a;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.SideBar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #524f4f;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.SideBar a:hover {
    color: #f1f1f1;
}

h1 {font-size: 50px; font-family: cursive; Grand Hotel;
  color: white; text-align: center;
}
h2 {font-size: 25px; font-family: sans-serif;
color: white;
text-align: center;}
/*.Entrees {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
} */
/*#slideshow {
    margin: 50px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.slide {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
} */
#slideshow {
  overflow: hidden;
  height: 510px;
  width: 728px;
  margin: 0 auto;
}

.Slide-wrap {
  width: 2912px;
  -webkit-animation: slide 12s ease infinite;
}

.slide {
  float: left;
  height: 510px;
  width: 728px;
}

/*.slide:nth-child(1) {
  background: #D93B65;
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
} */

.slide-number {
  color: #000;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    font-size: 16pt;
    color: white;

}

tr:nth-child(even) {background-color: #d53c16;
opacity: .6;}
tr:nth-child(odd) {background-color: rgb(186, 82, 112);
opacity: .6;}
/* footer */
footer {clear: both;
font-family: cursive;
color: white;
text-align: center;}
