@charset "UTF-8";
body>header>img {
  display: block;
  width: 100%;
}
nav {background-color: rgb(218, 164, 71);}
ul {
  margin: auto;
width: 75%;
  padding: 5px;
  overflow: hidden;
  list-style: none;
}

li {
  box-sizing: border-box;
  float: left;
  /*padding: 5px;*/
  width: 33.3%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  }

li a:hover {
  background-color: rgba(91, 68, 172);
}
/* Body */
body {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  min-width: 640px;
  width: 95%;
  background-color: rgb(128, 24, 58);
}
h1 {font-size: 50px; font-family: cursive; Grand Hotel;
  color: white; text-align: center;
}
h2 {font-size: 25px; font-family: sans-serif;
color: white;
text-align: center;}
/*.Entrees {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
} */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    font-size: 16pt;
    color: white;

}

tr:nth-child(even) {background-color: #d53c16;
opacity: .6;}

/* footer */
footer {clear: both;
font-family: cursive;
color: white;
text-align: center;}
